################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

app-modules/angular-modules.js
app-modules/ax-api-config.js
app-modules/ax-components-config.js
app-modules/common/login
app-modules/common/main
app-modules/gulp-config.json
app-modules/page-not-found.html

app-modules/modules-vars.js
app-modules/modules.css
app-modules/observatii.txt
app-modules/favicon.*
app-modules/gulp-config.json.bindings
app-modules/MenuRolesConfig.*
/data
/app-modules/gap
/app-modules/dv
/app-modules/pm
/app-modules/demo
/app-modules/reunion
/app-modules/demo-app
/app-modules/etr
api/*
/app-modules/bower-libs
/.vs
*.api.js
web.config
.htaccess