<div ng-controller="resetPasswordController"
	  style="position: absolute; right: 0; top: 0; bottom: 0; left: 0;background-color: #ebe7e7;">
	<div style="margin: auto; height: 100%; display: table;">
		<div class="account-wall" style="display: table-cell; vertical-align: middle">
			<form class="form-signin" style="background-color: white;width: 400px; padding:25px; margin: 0 auto; margin-top: -50px; border: 1px outset gray;box-shadow: 0 6px 12px rgba(0,0,0,.175);">
				<label style="width: 100%;text-align:center">Resetare parola</label>
				<div class="inline" style="margin-top:3px">
					<label style="width: 120px">Parola </label>
					<input type="password"
							 style="width: 230px;height:28px;padding:0 5px"
							 name="parola"
							 ng-model="loginInfo.parola"
							 class="form-control" required autofocus>
				</div>
				<div class="inline" style="margin-top:3px">
					<label style="width: 120px">Confirmare</label>
					<input type="password"
							 style="width: 230px;height:28px;padding:0 5px"
							 name="conmfirmare"
							 ng-model="loginInfo.confirmare"
							 class="form-control" required autofocus>
				</div>
				<div class="inline" style="margin-top:3px">
					<button class="btn btn-lg btn-primary btn-block fa fa-save"
							  id="login"
							  ng-disabled="loginWorking"
							  style="width: 230px; height: 28px; text-align: center; margin-left: 120px; font-size: 17px; line-height: 20px; padding: 0 5px; cursor: pointer"
							  type="button" ng-click="savePassword()">
						<span style="margin-left:5px;">Salveza</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>