<div ng-controller="citiesCodeCtrl">
    <ax-table config="launcher.dataTable1"
              selectable-rows-model="launcher.currentSelection"
              api-controller="cities"
              order-by="nameInvariant"
              item-id-field="id"
              edit-row="inline"
              apply-changes-on-save="false"
              auto-focus="false"
              customizable-freezed-columns="false"
              customizable-config="false"
              customizable-edit-mode="false"
              columns-autofit-enabled="false"
              export-disabled="true"
              selectable-rows="single"
              dont-close-popup="true"
              selectable-rows-model-type="id-field">
        <ax-toolbar>
            <label class="header-title" toolbar="left" ng-bind="$ctrl.$parent.country.name + ' cities'">

            </label>
            <button toolbar="right"
                    class="btn btn-primary"
                    style="width:auto;margin-right:3px;"
                    ng-disabled="$ctrl.$parent.launcher.readOnly ? true: ($ctrl.currentItem.id === $ctrl.$parent.launcher.initialSelection)"
                    ng-click="$ctrl.$parent.launcher.confirm($event)">
                <i class="fa fa-check"></i>Select
            </button>
            <ax-button toolbar="right"
                       style="margin-right:0"
                       show-title="false"
                       button-type="settings"></ax-button>
            <div toolbar="right"
                 ng-show="$ctrl.$parent.launcher"
                 class="ngdialog-close"
                 style="position:relative;display:inline-flex"
                 ng-click="$ctrl.$parent.popupClose($event)"></div>
        </ax-toolbar>
        <ax-column header="Country"
                   bind-to="countryId"
                   sortable="countryInvariant"
                   show-header="false"
                   hidden-column
                   width="300px">
            <ax-column-filter filter-type="text"></ax-column-filter>
            <ax-column-view view-type="text" bind-to="country"></ax-column-view>
        </ax-column>
        <ax-column header="City"
                   hideable="false"
                   bind-to="name"
                   show-header="false"
                   sortable="nameInvariant"
                   width="100%">
            <ax-column-filter filter-type="text"></ax-column-filter>
            <ax-column-edit edit-type="text"></ax-column-edit>
        </ax-column>
        <ax-column header="Actions" show-header="false" view-type="crud-buttons" width="84px"></ax-column>
    </ax-table>
</div>