
<header role="banner">
    <div class="app-header inline">
        <button type="button"
					 ng-if="!dataStore.isMobileDevice"
                class="btn icon fa"
                style="width: 30px; color: white;"
                uib-tooltip="Toggle show left pane"
                ng-class="{'fa-angle-double-left': !dataStore.leftPaneCollapsed, 'fa-angle-double-right':dataStore.leftPaneCollapsed}"
                ng-click="leftPaneToggle()"
        ></button>
        <ax-dropdown-popup ctrl="mainMenu"
                           style="width: 30px; padding: 0;"
                           ng-if="dataStore.leftPaneCollapsed"
                           btn-class="btn icon"
                           btn-style="text-align:center"
                           caret-class="fa fa-bars"
                           uib-tooltip="Open main menu in a popup"
                           btn-text=""
                           close-on-blur="true"
                           popup-class="main-menu"
                           popup-width="{{dataStore.user.theme.dimensions.leftPanelWidth}}px"
                           popup-absolute-left="0"
                           popup-absolute-top="30"
                           popup-absolute-bottom="0"
                           template-url="'/app-modules/common/main/main-menu.html'">
        </ax-dropdown-popup>
        <button type="button" ng-click="locationReload()"
                style="color: white;width: 30px"
					 ng-if="dataStore._isDevelpoment"
                class="btn icon fa fa-refresh"
                uib-tooltip="Click to reload page"></button>
        <ax-dropdown-list datasource="theme.list"
                          dropdown-model="theme.current"
                          dropdown-model-type="object"
                          on-selection-change="theme.onChange()"
                          btn-class="btn btn-primary"
                          btn-style="color:white;background-color:#1e90ff"
                          popup-class="theme-list"
								  list-width="100%"
								  list-height="140px"
                          list-item-id-field="name"
                          style="width:220px;margin:auto 5px"></ax-dropdown-list>
    </div>
</header>
<main>
    <div id="left-pane" ng-if="!dataStore.leftPaneCollapsed" ax-dynamic-template-url="'/app-modules/common/main/main-menu.html'"></div>
    <div id="right-pane" ui-view="content" style="left:0" ng-style="{left:dataStore.rightPanelCssLeft +'px'}" ng-cloak></div>
</main>
