<div ng-controller="countriesCodeCtrl">
	<ax-table config="$parent.launcher.dataTable1"
				 api-controller="countries"
				 order-by="nameInvariant"
				 item-id-field="id"
				 selectable-rows-model-type="id-field"
				 selectable-rows-model="$parent.launcher.currentSelection"
				 edit-row="inline"
				 apply-changes-on-save="false"
				 auto-focus="true"
				 customizable-freezed-columns="false"
				 customizable-config="false"
				 customizable-edit-mode="false"
				 columns-autofit-enabled="false"
				 export-disabled="true"
				 selectable-rows="single"
				 dont-close-popup="true"
				 refresh-item-on-edit="true">
		<ax-toolbar>
			<button toolbar="right"
					  class="btn btn-primary"
					  style="width:auto;margin-right:3px"
					  ng-disabled="($ctrl.$parent.$parent.launcher.readOnly || !$ctrl.currentItem) ? true: ($ctrl.currentItem.id === $ctrl.$parent.launcher.initialSelection)"
					  ng-click="$ctrl.$parent.launcher.confirm($event)">
				<i class="fa fa-check"></i>Select
			</button>
			<ax-button toolbar="right"
						  show-title="false"
						  style="margin-right:0"
						  button-type="settings"></ax-button>
			<div toolbar="right"
				  ng-show="$ctrl.$parent.launcher"
				  class="ngdialog-close"
				  style="position:relative;display:inline-flex"
				  ng-click="$ctrl.$parent.popupClose($event)"></div>
		</ax-toolbar>
		<ax-column header="Name"
					  hideable="false"
					  show-header="false"
					  bind-to="name"
					  sortable="nameInvariant"
					  width="100%">
			<ax-column-filter filter-type="text"></ax-column-filter>
			<ax-column-edit edit-type="text"></ax-column-edit>
		</ax-column>
		<ax-column header="Actions" show-header="false" view-type="crud-buttons" width="84px"></ax-column>
	</ax-table>
</div>