/* Structure */
ax-json-tree-view {
  box-sizing: border-box;
}
ax-json-tree-view *,
ax-json-tree-view *:before,
ax-json-tree-view *:after {
  box-sizing: border-box;
}
ax-json-tree-view .key {
  vertical-align: middle;
}
ax-json-tree-view .expandable {
  position: relative;
}
ax-json-tree-view .expandable::before {
  pointer-events: none;
}
ax-json-tree-view .expandable::before,
ax-json-tree-view .expandable > .key {
  cursor: pointer;
}
ax-json-tree-view .branch-preview {
  display: inline-block;
  vertical-align: middle;
}
/* Looks */
ax-json-tree-view-node:not(.root-node)> ul {
  padding-left: 20px;
}
ax-json-tree-view-node.root-node > ul {
  padding-left: 0;
}
ax-json-tree-view li,
ax-json-tree-view ul {
  list-style: none;
}
ax-json-tree-view li {
  line-height: 1.5em;
}
ax-json-tree-view .key {
  color: black;
	font-weight:bold;
  padding: 0px 10px 5px 15px;
}
ax-json-tree-view .key::after {
  content: '';
}
ax-json-tree-view ax-json-tree-view-node.expandable:not(.root-node)::before {
  content: '\25b6';
  position: absolute;
  left: 0px;
  font-size: 10px;
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
}
ax-json-tree-view ax-json-tree-view-node.expandable.expanded::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
ax-json-tree-view .leaf-value,
ax-json-tree-view .branch-preview {
  word-break: break-word;
}
ax-json-tree-view .branch-preview {
  height: 1.5em;
  opacity: 1;
	white-space:nowrap;
}
