$headerBlue: #337ab7;

html, body {
  font: 14px/1.5 Arial, sans-serif;
  /*"Helvetica Neue", Helvetica, Arial, sans-serif;*/ }

#left-pane {
  border: 0 solid black;
  background-color: #FEFEFE; }

footer {
  font-size: 14px; }

.btn.fa:not(.form-control), .btn:not(.form-control) > .fa {
  font-size: 16px;
  padding: 0; }

.btn.text {
  padding: 0 3px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  outline: none; }

.app-header {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #2d80b5;
  color: white; }

main{
    top:31px;
}
.app-header .btn.fa, .app-header > ax-dropdown-popup {
  height: 30px !important;
  line-height: 28px !important;

}
.app-header .btn.fa:hover {
  color: black !important; }

.nav-tabs .nav-item {
  margin-bottom: -1px; }

*:focus {
	/*color: #9af699 !important;
	background-color: red !important;*/
}

button {
	border: 1px solid;
}

.tooltip .tooltip-inner {
	color: black;
	background-color: white;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	border: 1px solid #e5dfdf;
	text-align: left;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

#right-pane {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#right-pane [role=column-view], #right-pane pre, textarea, input, span.key {
	-webkit-touch-callout: initial;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

#right-pane > div[ng-controller] {
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}

[role=input-error] span, [role=form-error] div {
	display: list-item;
	/*font-size: 12px;*/
	list-style: none;
	margin-left: 0px;
}

[role=grid-cell] [role=input-error] span {
	font-size: small;
	white-space: normal;
	display: block;
	margin-left: 0;
}

.form-group {
	margin-bottom: 5px;
}

input[type=date] {
	line-height: inherit;
}

tbody td a.btn-edit {
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0;
	padding: 0;
	border: 0;
	height: auto !important;
}

table > tbody > tr > td > img {
	margin-top: -6px;
}

.control-label, [role=form-label] {
	white-space: nowrap;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 2px;
	line-height: 24px;
}

label {
	font-weight: bold;
	margin-bottom: 0;
}

.control-label:after, [role=control-label]:after {
	content: ":";
}

.form-control:not(ax-dropdown-list, ax-radio-options) {
	padding: 2px 4px;
}

.form-control {
	border-radius: 0;
	box-shadow: none;
	height: 22px;
	padding: 0;
	background-color: transparent;
}

/*ax-dropdown-list.form-control > button.dropdown-toggle{
	background-color:white;
	border:none;
}*/
/*.form-control ::selection {
    background-color: transparent;
}*/

.form-control input[type="radio"], input[type="checkbox"] {
	margin-top: 0px;
	width: 20px;
}

.row {
	margin: 0 !important;
}

[role=toolsbar] > button {
	margin-right: 5px;
}

[role=toolsbar].form > button:first-child {
	margin-left: 5px;
}

table.standard-theme {
	width: auto;
	table-layout: fixed;
	/*border-collapse: collapse;*/
}

table.standard-theme td {
	overflow-x: hidden;
}

ax-table {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

ax-table.standard-theme:not(.no-border) td[column-for]:not(.last-column):not([left-freezed-column=body]):not([right-freezed-column=body]):not([hidden-column]):not([role=input]) > div {
	border-right: 1px solid lightgray;
}

ax-list.no-border > div > table > tbody > tr > td[column-for]:not(.last-column):not([left-freezed-column=body]):not([right-freezed-column=body]):not([hidden-column]):not([role=input]) > div {
	border-right: 1px solid transparent !important;
}

.standard-theme td:not(.last-column1):not([left-freezed-column=body]):not([right-freezed-column=body]):not([hidden-column]):not([role=input]) > div {
	padding-top: 1px;
}



.standard-theme.selectable tr[role=data-row] > td {
	cursor: pointer;
}

ax-table.standard-theme tbody tr[role=data-row]:nth-child(even) {
	background: #F8F9FC;
}

ax-table.standard-theme tbody tr:nth-child(even) .text-overflow {
	background: #F8F9FC;
}


table.standard-theme:not(.no-border) tr:not([role=filters]) > th:not(.last-column):not([hidden-column]) > div[role=column-resizer],
table.standard-theme:not(.no-border) tr[role=filters] > th:not(.last-column):not([hidden-column]) > div.right-border,
table.standard-theme tr > th[left-freezed-column]:last-child:not(.last-column):not([hidden-column]) > div[role=column-resizer] {
	border-right: 1px solid white;
}

ax-table.standard-theme tr > th {
	background-color: #d1f0fa;
}


table.standard-theme > thead > tr > th:not(.last-row1) > div.th-bottom-border,
table.standard-theme > thead > tr > th:not(.last-row1) > ax-dropdown-popup {
	border-bottom: 1px solid white;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 1px;
	width: initial !important;
}


.standard-theme td {
	white-space: nowrap;
}

.standard-theme th[rowspan] {
	white-space: normal !important;
}

.standard-theme tr[role=titles] > th {
	padding: 1px 1px 1px 0px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 22px;
	height: 28px;
	overflow: hidden;
	white-space: nowrap !important;
}

.standard-theme tr[role=titles] > th[rowspan='2'] {
	height: 56px !important;
	min-height: 56px !important;
	overflow: hidden;
}

.standard-theme tr[role=titles] > th[rowspan='3'] {
	height: 84px !important;
	min-height: 84px !important;
	overflow: hidden;
}

.standard-theme tr[role=titles] > th[rowspan='4'] {
	height: 112px !important;
	min-height: 112px !important;
	overflow: hidden;
}

.standard-theme tr[role=titles] > th[rowspan='5'] {
	height: 140px !important;
	min-height: 140px !important;
	overflow: hidden;
}

.standard-theme tr[role=titles] > th > ax-dropdown-popup > button {
	padding-left: 3px;
	padding-right: 3px;
}

.standard-theme tr[role=filters] > th {
	padding-bottom: 2px;
	padding-top: 2px;
}

.standard-theme tr[role=filters] > th > div[filter-for] {
	min-height: 24px;
}

.standard-theme tr[role=filters] > th .form-control {
	background-color: white;
}

.standard-theme tr[role=filters] > th .form-control[disabled],
.standard-theme tr[role=filters] > th .form-control[disabled] *,
.standard-theme tr[role=filters] > th .operator[disabled] {
	background-color: transparent;
	border-color: transparent;
	color: transparent;
}

ax-table.standard-theme:not(.no-border),
ax-table.standard-theme:not(.no-border),
ax-list.standard-theme:not(.no-border),
ax-table-editor:not(.no-border) {
	border: 1px solid #b9c3c8;
}

ax-table.standard-theme:not(.no-border).hasFocus,
ax-list.standard-theme:not(.no-border).hasFocus {
	border-color: blue;
}

[role=fake-scrollbar], ax-table-content {
	background-color: #f1f1f1;
	outline: none;
}

ax-table.standard-theme > ax-table-content > [role=table-left] {
	border-right-color: #7ac2d7 !important;
}

ax-table.standard-theme > ax-table-content > [role=table-right] {
	border-left-color: #7ac2d7 !important;
}

ax-list.standard-theme > ax-table-content > [role=table-left] {
	border-right-color: lightgray !important;
}

ax-list.standard-theme > ax-table-content > [role=table-right] {
	border-left-color: lightgray !important;
}

ax-table.standard-theme > ax-table-content > [role=paginator] {
	border-top: 1px solid white;
}

ax-table > ax-table-content > [role=table-scroller],
ax-table > ax-table-content > [role=table-left],
ax-table > ax-table-content > [role=table-right],
ax-table > ax-table-content > [role=vertical-scroller],
ax-list > ax-table-content > [role=table-scroller],
ax-list > ax-table-content > [role=table-left],
ax-list > ax-table-content > [role=table-right],
ax-list > ax-table-content > [role=vertical-scroller] {
	background-color: white;
}

.standard-theme tr[role=filters]:last-child th {
	/*border-bottom-color: #ddd;*/
	font-weight: normal;
}

.standard-theme tr:first-child > th {
	border-top: none;
}

.standard-theme table:not([role=form-column]) tbody tr:hover:not([label-layout]) > td,
.standard-theme table:not([role=form-column]) tbody tr.hover > td {
	background-color: rgb(229, 229, 229);
	border-collapse: separate;
}

.standard-theme tbody tr:hover .text-overflow {
	background-color: rgb(229, 229, 229);
}

.standard-theme tbody td {
	font-size: 14px;
	overflow: hidden;
	vertical-align: top;
}

.standard-theme td[role=gridcell] > span {
	white-space: nowrap;
}

.clearMargins {
	margin: 0;
}

a[role=action-btn] > span.glyphicon {
	margin-right: 5px;
}

.tableForm, table[role=tableForm] {
	margin-bottom: 0px;
	margin-top: 0px;
}

.tableForm td, table[role=tableForm] td {
	padding-right: 5px;
	padding-left: 0;
	vertical-align: top;
	color: black;
	font-size: 14px;
}

.tableForm td.label > div {
	display: inline;
	padding-left: 0;
}


.ngdialog.ngdialog-theme-plain .ngdialog-content {
	padding: 0 !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	box-shadow: #0c0c0c 0 0 30px;
}

.borderPanel {
	border: 1px solid black;
	border-radius: 0px;
}

.page-tab [role=panelHeader], [role=popupBody] [role=panelHeader] {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

[role=panelHeader] {
	height: 40px;
	line-height: 40px;
	background-color: white;
	text-align: center;
	color: Black;
	border-bottom: 1px solid lightgray;
	padding-left: 10px;
}

.ngdialog [role=panelHeader], [role=popup] [role=panelHeader] {
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-bottom: 1px solid lightgray;
}

[role=panelFooter] {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	/*border-top: 1px solid lightgrey;*/
	padding: 10px;
}

[role=panelFooter] [role=toolbar] {
	padding-top: 0 !important;
}

.page-tab [role=panelTitle] {
	padding-left: 0px;
}

.page-tab [role=panelBody] > div {
	height: 100%;
	position: relative;
}

.formTitle, [role=panelTitle] {
	font-size: 16px;
	padding-bottom: 0;
	width: auto;
}

#right-pane {
	font-size: 14px;
}

.formBody, [role=panelBody] {
	padding: 10px 10px 10px 10px;
	overflow: auto;
	clear: both;
	position: relative;
	height: 100%;
}

td > [role=panelBody] {
	padding: 0;
}

div[collapsable-panel] {
	max-width: 100%;
}

[role=panel] {
	border-radius: 0px;
	position: relative;
	height: 100%;
}

.reportTable [role=panelHeader] {
	background-color: transparent;
	text-align: left;
	height: 30px;
}

.reportTable [role=panelTitle] {
	padding: 10px;
}

.reportTable img[role=toggleCollapseImg] {
	float: none;
	margin-top: -3px;
	margin-left: -5px;
}

.fa {
	cursor: pointer;
	text-align: center;
}

.fa.btn {
	height: 20px;
	width: 20px;
	line-height: 20px;
}

.table-toolbar .fa.btn {
	padding: 0 5px !important;
	width: auto !important;
	line-height: 28px !important;
}

.fa.fa-undo {
	margin-right: 5px;
}

img[role=toggleCollapseImg] {
	float: right;
	margin-right: 10px;
	margin-top: 2px;
	cursor: pointer;
}

.formPanel[expanded='false'] > .formHeader, div[collapsable][expanded='false'] > div[role=panelHeader] {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.formPanel[collapsable] > .formHeader > img {
	display: inline;
}

.inline {
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	align-self: auto;
	vertical-align: top;
}

.allWidth {
	width: 100%;
}

.labelTop {
	float: left;
}

.after-control {
	clear: left;
}

ax-list button > i {
	margin-top: 0px;
}

button > i {
	margin-right: 3px;
}

label.not-first {
	margin-left: 20px;
}

table[role=form-column] td {
	padding-bottom: 3px;
	vertical-align: top;
}

table[role=form-column] td .form-control:not(.grid-control) {
	margin-right: 5px;
}

table[role=form-column] td > [role=input-holder] {
	width: 100% !important;
}

table[role=form-column] td:last-child .form-control:not(.grid-control) {
	margin-right: 0;
}

[role=grid-cell] .btn:not(.form-control) > .fa {
	height: 22px;
	line-height: 22px;
}

.btn.fa:not(.form-control), .btn:not(.form-control) > .fa {
	font-size: 16px;
	width: 22px;
	padding: 0;
	height: 28px;
	line-height: 28px;
}

.btn.fa.form-control, .btn.form-control > .fa {
	font-size: 16px;
	width: 24px;
	padding: 0;
	height: 24px;
	line-height: 24px;
}

ax-list > ax-table-content > [role=toolbar] > .btn > .fa {
	font-size: 16px;
	width: 20px;
	padding: 0;
	height: 20px;
	line-height: 20px;
}

.ngdialog [role=panelTitle], [role=popup] [role=panelTitle] {
	font-size: large;
}

.toolsbar button:first-child {
	margin-left: 0;
}

[role=errors], .errors {
	color: red;
}

[role=toolsbar] {
	margin-bottom: 10px;
}

[role=panel].page-tab {
	min-width: 100%;
	position: relative;
	height: 100%;
}

[role=panel] > [role=panelHeader], [role=panel].form-child > [role=panelHeader] {
	text-align: left;
}

[role=panel] [role=panelHeader] > span {
	font-size: larger;
}

[role=panel].page-tab [role=panelBody] {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	height: initial !important;
	bottom: 0;
}

.btn.clear {
	color: white;
	padding: 0 3px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color: transparent;
	outline: none;
}

.btn.clear:hover {
	color: black;
}

.btn {
	padding: 0 3px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color: transparent;
	outline: none;
}

.uib-datepicker-popup .btn {
	padding: 5px 10px;
	background-color: initial;
	color: initial;
}

.uib-datepicker-popup .btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}

.uib-datepicker-popup .btn-info:hover {
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc;
}

.uib-datepicker-popup .btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.uib-datepicker-popup .btn-danger:hover {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925;
}

.uib-datepicker-popup .btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.uib-datepicker-popup .btn-success:hover {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.uib-datepicker-popup .btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.uib-datepicker-popup .btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.btn.form-control {
	border-color: #ccc;
}

.btn.text {
	padding: 0 3px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color: transparent;
	outline: none;
	color: black;
	height: 24px;
}

.btn.text:hover {
	background: none;
	color: #007acc;
}

.ngdialog.ngdialog-theme-plain {
	padding: 0 !important;
}

.CodeMirror-gutter .CodeMirror-linenumbers {
	width: 29px !important;
}

.global-error label {
	margin-right: 10px;
}

.global-error span {
	color: red;
}

.hasError {
	border-color: red;
}

.paginator i {
	padding: 5px;
	cursor: pointer;
}

.paginator i[disabled] {
	color: #aaaaaa;
	cursor: inherit;
}

.paginator > div.page {
	padding: 1px 6px;
	border: 1px solid gray;
	cursor: pointer;
	background-color: #eaeaea;
	margin-right: 1px;
}

.paginator > div.page:hover {
	background-color: white;
}

.paginator > div.page[disabled] {
	background-color: #f2f2f2;
	cursor: inherit;
	text-decoration: underline;
}

table tfoot td {
	border: 0px solid #ddd;
	-moz-border-image: none;
	-o-border-image: none;
	-webkit-border-image: none;
	border-image: none;
}

tfoot td[role=footerStatus] {
	padding-left: 20px;
}

.table-toolbar {
	width: 100%;
}

ax-list > ax-table-content > [role=toolbar] {
	padding-left: 4px !important;
	padding-right: 0;
	height: 26px !important;
	line-height: 24px;
	background-color: #dedede;
}

ax-list > ax-table-content > [role=paginator] {
	background-color: #f1f1f1;
}

ax-table > ax-table-content > [role=toolbar] [role=scroller-content],
ax-table > ax-table-content > [role=toolbar]:not([ax-scroller]):not(.cke_toolbar),
ax-table > ax-table-content > [role=toolbar] [role=toolbar-right] > div,
ax-table > ax-table-content > [role=toolbar] [role=toolbar-left] > div,
ax-table-editor > .editor-content > [role=toolbar] [role=scroller-content],
ax-table-editor > .editor-content > [role=toolbar]:not([ax-scroller]):not(.cke_toolbar),
ax-table-editor > .editor-content > [role=toolbar] [role=toolbar-right] > div,
ax-table-editor > .editor-content > [role=toolbar] [role=toolbar-left] > div,
.table-toolbar[role=toolbar] [role=scroller-content],
.table-toolbar[role=toolbar]:not([ax-scroller]),
.table-toolbar[role=toolbar] [role=toolbar-right] > div,
.table-toolbar[role=toolbar] [role=toolbar-left] > div {
	line-height: 33px;
	height: 33px;
}

ax-table > ax-table-content > [role=toolbar] [role=toolbar-right],
ax-table > ax-table-content > [role=toolbar] [role=toolbar-left],
ax-table > ax-table-content > [role=toolbar] [role=scroller-content],
ax-table > ax-table-content > [role=toolbar] [role=scroller-container],
ax-table > ax-table-content > [role=toolbar]:not(.cke_toolbar),
ax-table > ax-table-content > [role=toolbar] [role=left-arrow],
ax-table > ax-table-content > [role=toolbar] [role=right-arrow],
.table-toolbar,
.table-toolbar[role=toolbar] [role=toolbar-right],
.table-toolbar[role=toolbar] [role=toolbar-left],
.table-toolbar[role=toolbar] [role=scroller-content],
.table-toolbar[role=toolbar] [role=scroller-container],
.table-toolbar[role=toolbar] [role=left-arrow],
.table-toolbar[role=toolbar] [role=right-arrow] {
	height: 35px;
}

ax-table > ax-table-content > [role=toolbar] [role=wrapper],
[ax-scroller=false],
ax-table > ax-table-content > [role=toolbar]:not([ax-scroller]) {
	border-bottom: 1px solid white;
}

ax-table > ax-table-content > [role=toolbar]:not(.editor-toolbar) [role=wrapper],
ax-table > ax-table-content > [role=toolbar]:not(.editor-toolbar) [role=toolbar-right],
ax-table > ax-table-content > [role=toolbar]:not(.editor-toolbar) [role=toolbar-left],
ax-list > ax-table-content > [role=toolbar]:not(.editor-toolbar) [role=wrapper],
ax-list > ax-table-content > [role=toolbar] [role=toolbar-right],
ax-list > ax-table-content > [role=toolbar] [role=toolbar-left],
.table-toolbar[role=toolbar] [role=wrapper],
.table-toolbar[role=toolbar] [role=toolbar-right],
.table-toolbar[role=toolbar] [role=toolbar-left],
ax-table > ax-table-content > [role=toolbar]:not([ax-scroller]):not(.cke_toolbar),
[ax-scroller=false] {
	background-color: #dedede;
}

ax-table > ax-table-content > [ax-scroller=false] {
	line-height: 32px;
	padding-left: 10px;
}

[role=toolbar] > *,
[role=toolbar] [role=scroller-content] > *,
[role=toolbar] [role=toolbar-right] > div > *,
[role=toolbar] [role=toolbar-left] > div > * {
	margin-right: 5px;
}

ax-table > ax-table-content > [role=toolbar] [role=scroller-content] > *,
ax-table > ax-table-content > [role=toolbar] [role=toolbar-left] > [role=toolbar-wrapper] > * {
	margin-top: 2px;
}

ax-list > ax-table-content > [role=toolbar]:not([ax-scroller]) > *,
ax-list > ax-table-content > [role=toolbar] [role=scroller-content] > * {
	margin-right: 0;
}

[role=panel] [role=toolbar].form-bottom {
	border-top: 1px solid #ddd;
	margin-top: 7px;
}

[role=tableForm] [role=toolsbar] {
	margin-bottom: 0;
}

.cm-s-paraiso-light.CodeMirror {
	background-color: transparent !important;
	border: none;
}

.cm-s-paraiso-light .CodeMirror-gutters {
	background-color: #e8e8e8 !important;
	border-right: 1px solid lightgrey !important;
}

i[error-for] {
}

.standard-theme tr[disabled] td {
	background-color: #e8e8e8 !important;
	color: darkgray;
}

.standard-theme tr td[role=grid-cell] i {
	font-size: inherit;
	width: 20px;
	min-width: 20px;
	margin-top: 0;
	height: 20px;
	line-height: 20px;
	padding-top: 0;
}

.standard-theme tr td[role=grid-cell] i:not(.show-on-tr-hover) {
	color: black;
}

.standard-theme tr td[role=grid-cell] i {
	color: white;
}

.form-control textarea {
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
	padding: 0;
	margin: 0;
}

textarea {
	resize: none;
}

.form-control > textarea:focus {
	border: none;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.fa-close.popup {
	position: absolute;
	top: 4px;
	right: 0;
	width: 50px;
	height: 50px;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 20px;
	cursor: pointer;

	&:hover {
		color: white;
	}
}

[role=popup] {
	border-radius: 7px;
}

[role=popupBody] {
	border-radius: 7px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-animation: ngdialog-fadein 0.5s;
	-o-animation: ngdialog-fadein 0.5s;
	-webkit-animation: ngdialog-fadein 0.5s;
	animation: ngdialog-fadein 0.5s;
	pointer-events: all;
}

.fade.ng-hide {
	-moz-transition: .5s linear all;
	-o-transition: .5s linear all;
	-webkit-transition: .5s linear all;
	transition: .5s linear all;
	opacity: 0;
}

.fade {
	opacity: 1;
	-webkit-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	-moz-transition: 0.5s linear all;
	transition: 0.5s linear all;
}

[role=popup-overlay] {
	background-color: black;
	opacity: 0.1;
	filter: alpha(opacity=1);
	z-index: 100;
}

[role=loader-overlay] {
	background-color: black;
	opacity: 0.1;
	filter: alpha(opacity=1);
	z-index: 101;
	height: 100%;
}

tr[role=data-row].editing td, tr[role=data-row].editing:hover td {
	background-color: #337ab7 !important;
	color: white;
}

td[role=grid-cell] > div.ng-binding, td[role=grid-cell] [role=column-view] {
	padding: 0px 0 0 4px;
	/*height: 22px;*/
	line-height: 22px;
	/*border: 1px solid transparent;*/
	font-size: 14px;
	overflow: hidden;
}

ax-list tr[role=data-row] > td > [role=column-view] {
	margin-left: 0px !important; // >0  decaleaza prima inregistrare cu 2 px fata de celalte
}

[role=column-view] > div {
	line-height: 21px;
	overflow: visible;
	width: auto !important;
	border: none;
	padding: 0;
	margin: 0;
}

.nodeLabel {
	white-space: nowrap;
}

.form-control[readonly], .form-control.hasFocus[readonly] {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

.form-control[readonly][disabled] {
	cursor: default;
}

td[role=grid-cell] select.form-control.grid-control[readonly]:not([disabled]) {
	color: white;
}

select.form-control[readonly][disabled] {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	-ms-text-overflow: initial;
	-o-text-overflow: '';
	text-overflow: '';
	padding: 0 3px;
}

input[type=file] {
	padding: 0;
	border: none;
	outline: none;
	box-shadow: none;
}

input[type=file]:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

.center {
	text-align: center !important;
}

.right {
	float: right;
}

.left {
	float: left;
}

ax-checkbox.form-control {
	height: 24px;
	line-height: 22px;
	text-align: center;
	padding: 0;
}

ax-checkbox.form-control > i {
	width: 24px;
}

.multiarray td {
	padding-left: 3px;
}

table.previewForm td {
	padding-right: 3px;
	white-space: nowrap;
	vertical-align: top;
}

[role=paginator] {
	color: black;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 20px;
	height: 20px;
}

[role=page-navigator] {
	float: right;
	padding-right: 3px;
}

[role=paginator] [role=page-info] {
	float: left;
	padding-left: 20px;
}

[role=go-to-page], [role=go-to-previous-page], [role=go-to-next-page] {
	cursor: pointer;
}

[role=go-to-previous-page] {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

[role=go-to-next-page] {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

[role=page-info] {
	border: none !important;
	white-space: nowrap;
}

[role=go-to-previous-page] .fa, [role=go-to-next-page] .fa {
	margin: 0 2px;
}

[role=go-to-page][disabled] {
	font-style: normal;
	font-weight: bold;
	cursor: default;
	text-decoration: underline;
}

[role=paginator] div > span {
	white-space: nowrap;
	font-style: normal;
	/*background-color: #fff;*/
	border: 0px solid #ddd;
	padding: 0px 2px;
	margin-right: 1px;
	/*color: #126b7a;*/
}

[role=go-to-page] {
	min-width: 20px;
	text-align: center;
	padding: 0;
}

[role=paginator] div > span.fa {
	padding-top: 4px;
}

[role=paginator] [role=go-to-previous-page][disabled],
[role=paginator] [role=go-to-next-page][disabled],
[role=go-to-first-page][disabled],
.column-cmd[disabled],
[role=go-to-last-page][disabled] {
	color: #aaaaaa;
	cursor: not-allowed;
}

[role=go-to-page]:hover, [role=go-to-page]:focus {
	color: #2a6496;
	border-color: #000033;
}

.table .table {
	background-color: #fff;
}

.header-highlight {
	border: 1px solid white;
	height: 30px;
	line-height: 20px;
	padding: 5px 10px;
	white-space: nowrap;
	overflow: hidden;
}

.header-title {
	font-weight: bold;
	white-space: nowrap;
}

.header-label {
	font-weight: bold;
	padding-left: 10px;
	white-space: nowrap;
}

.header-label::after {
	content: ":";
}

ax-table .btn-primary,
.filters-pane .btn-primary,
.toolbar-container {
	background-color: white !important;
}

ax-table .btn-primary:hover,
ax-table .btn-primary.popup-opened,
.filters-pane .btn-primary:hover,
.filters-pane .btn.icon:hover,
.toggle-btn:hover,
.group-toggle-show:hover,
.group-filter:hover,
.group-toggle-maximize:hover,
[role=filter-item-edit-title] button:hover,
.filters-pane i.fa:hover,
.filter-choice:hover,
.ngdialog-close:hover:before,
.titles .fa-edit:hover,
.ngdialog-toggle-maximize:hover,
[role=toolbar] .fa-expand:hover,
.hover-btn:hover,
.hover-btn:hover *,
[role=toolbar] .fa-compress:hover,
[role=filters-pane-header] .fa:hover {
	color: white !important;
	background-color: #286090 !important;
	border-color: #204d74;
}

ax-table .btn-primary:focus, .filters-pane .btn-primary:focus, .filters-pane .btn.icon:focus {
	color: black;
}

.toolbar-container {
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	align-self: auto;
}

@-moz-document url-prefix() {
	.btn-primary {
		display: inline-block !important;
	}
}

ax-list > ax-table-content > div[role=toolbar] > .btn-primary {
	height: 24px;
	line-height: 22px;
}

[role=toolbar] .btn-primary, [role=toolbar] .toolbar-container {
	vertical-align: middle;
}

[role=scroller-content] > button.btn, [role=scroller-content] > .toolbar-container {
	margin-top: 2px;
	white-space: nowrap;
}


.toolbar-container {
	cursor: initial !important;

	& .container-label {
		margin-top: -1px;
		margin-left: 2px;
		margin-right: 4px;
	}
}

a, u {
	text-decoration: none !important;
}

a:hover {
	color: #007acc !important;
}

li.active a:hover {
	color: #ffffcc !important; /*orange*/
}

.data-list {
	overflow-x: auto;
	overflow-y: scroll;
	border: 1px solid lightgray;
}

.list-row {
	width: 100%;
	height: 22px;
	cursor: pointer;
	overflow: hidden;
}

.list-row > div {
	white-space: nowrap;
	overflow: hidden;
	padding: 0 4px;
	width: 100%;
}

.list-row > div:hover {
	background-color: #f5f2f2;
}

.active:not(.tab-view) {
	background-color: #007acc;
	color: white;
}

.tabsHeader {
	width: 100%;
	border-bottom: 1px solid lightgray;
	margin-bottom: 10px;
}

.tabsHeader .tab {
	background: none;
	color: #5a5858;
	cursor: pointer;
	border: none;
	outline: none;
}

.tabsHeader .tab:hover {
	color: #007acc;
}

.selected:not(tr) {
	color: #007acc;
}


[role=grid-cell] .form-control.grid-control.number-spin {
	padding: 0px 5px;
	width: auto;
}

[role=grid-cell] input.form-control.grid-control {
	padding-left: 4px;
	padding-right: 4px;
}

.number-spin > i {
	margin-top: 5px;
	font-size: 12px;
	display: none;
}

.number-spin > input {
	margin-left: 2px;
	margin-right: 2px;
	width: auto;
	min-width: 10px;
	text-align: center;
	border: none;
	background-color: transparent;
}

.standard-theme tr.error.ng-class td {
	background-color: #f9722c;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
	-webkit-transition: 0.5s linear all;
	transition: 0.5s linear all;
	opacity: 1;
}

.standard-theme tr.error td, .standard-theme tr.hasFocus.error:not(.saved) td, .standard-theme tr.hasFocus.error:not(.saved) td, .standard-theme tr.error:hover td, tr.error .text-overflow {
	background-color: #f9722c !important;
}

.standard-theme tr.saved td, .standard-theme tr.saved td .text-overflow {
	background-color: #1bd41b !important;
}

tr.editing .number-spin {
	background-color: white;
	color: black;
}

.form-control.hasFocus {
	background-color: white;
}

table.unlock-edit tr:hover .number-spin i,
table.unlock-edit tr.hover .number-spin i,
table.unlock-edit tr.hasFocus .number-spin i,
table.unlock-edit tr.error .number-spin i {
	display: inline-block;
}

ax-table.standard-theme tr .errors {
	color: black;
}

.standard-theme tr.hasFocus td .form-control:not(.hasFocus):not(:focus),
.standard-theme tr.hasFocus td ax-dropdown-list.form-control > button:not(:focus),
.standard-theme tbody tr.hasFocus:hover td .form-control:not(.hasFocus) {
	border-color: #ccc !important;
}

tr[role=data-row][template-type=edit]:not(.hasFocus) .form-control,
tr[role=data-row][template-type=edit]:not(.hasFocus) ax-dropdown-list.form-control button {
	border-color: transparent;
}

tr[role=data-row][template-type=edit]:not(.hasFocus):not(:hover) [role=column-input] > ax-dropdown-popup > button.icon,
tr[role=data-row][template-type=edit]:not(.hasFocus):not(:hover) ax-dropdown-list.form-control button > .caret,
tr[role=data-row][template-type=edit]:not(.hasFocus):not(:hover) ax-dropdown-list.form-control button > .dropdown-clear {
	color: transparent;
}


.align-center {
	text-align: center;
}

[role=grid-cell] > div > .fa {
	width: 16px;
	margin-top: 3px;
}

[role=grid-cell] > div > .fa.form-control {
	margin-top: 0;
	margin-right: 2px;
	color: black;
	width: 24px;
}

[role=grid-cell] > div > [caret-class='fa fa-trash-o'] span.fa-trash-o {
	float: initial !important;
}

[role=grid-cell] > div > .fa-question-circle {
	margin-left: 2px;
	color: transparent;
}

.standard-theme.unlock-edit [role=grid-cell]:hover .fa-question-circle {
	color: black;
}

ax-table.unlock-edit td > div:focus {
	outline: none;
}

[role=grid-cell] .form-control:not(ax-dropdown-list):not(ax-checkbox):not(ax-datetime):not(ax-text):not(ax-autocomplete):not(ax-radio-options) {
	padding: 1px 4px;
}

[role=grid-cell] .form-control {
	/*height: 22px !important;*/
	line-height: 18px;
	overflow: hidden;
}

[role=grid-cell] ax-checkbox.form-control {
	width: 22px !important;
	height:22px;
	line-height: 20px;
	margin: 0 auto;
}

.standard-theme [role=filters] th:not(.last-column) > div {
	text-align: left;
	position: relative;
	padding-right: 1px;
}

select.form-control, [role=grid-cell] select.form-control, select.form-control-inner, [role=filters] select.form-control {
	padding: 0;
}

select.form-control-inner {
	border: none;
	outline: none;
}

[role=grid-cell] [role=loader-overlay] {
	background-color: transparent;
	z-index: 10;
}

[role=filters-pane-header] .clear-btn i {
	margin: 0 !important;
}

.standard-theme tr[role=filters] .filter-clear {
	margin: 0;
	width: 18px;
	min-width: 18px;
	height: 24px;
	padding-top: 5px;
	position: absolute;
	right: 5px;
	z-index: 5;
}

.standard-theme tr[role=filters] [filter-type=number] .filter-clear {
	right: 1px;
}

tr[role=filters] th {
	padding-bottom: 0px;
	height: 29px;
}

table.standard-theme tbody > tr td[role=grid-cell] {
	padding: 0 !important;
}

td {
	outline: none;
}

.standard-theme th {
	overflow: hidden;
}

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
}

.filter-show {
	display: block !important;
	z-index: 100;
	background-color: white;
	-moz-animation: filter-fadein 0.5s;
	-o-animation: filter-fadein 0.5s;
	-webkit-animation: filter-fadein 0.5s;
	animation: filter-fadein 0.5s;
}

.pane-left-closing {
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-animation: filter-fadeout .5s;
	-o-animation: filter-fadeout .5s;
	-webkit-animation: filter-fadeout .5s;
	animation: filter-fadeout .5s;
}

.pane-left-collapse {
	-moz-animation: pane-collapse .5s;
	-o-animation: pane-collapse .5s;
	-webkit-animation: pane-collapse .5s;
	animation: pane-collapse .5s;
	left: -250px !important;
}

@keyframes pane-collapse {
	0% {
		left: 0;
	}

	100% {
		left: -250px;
	}
}

.pane-left-expand {
	-moz-animation: pane-expand .5s;
	-o-animation: pane-expand .5s;
	-webkit-animation: pane-expand .5s;
	animation: pane-expand .5s;
}

@keyframes pane-expand {
	0% {
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	100% {
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

.filter-edit {
	display: none;
	position: relative;
	height: 100%;
	padding-right: 0;
}

.filter-edit > .data-list {
	position: absolute;
	top: 30px;
	left: 0;
	bottom: 0px;
	width: 250px;
}

.filters-selected {
	padding-left: 5px;
	padding-right: 5px;
}

.selectedFilters .list-row {
	width: initial;
	display: inline-flex;
}

.selectedFilters .list-row > div {
	width: initial;
}

.filter-title > .fa-check-square-o {
	margin-left: 7px !important;
	margin-top: 5px !important;
}

.filter-title > .fa-times {
	margin-left: -6px !important;
	margin-top: 0 !important;
}

.filter-title .fa-caret {
	right: -2px;
	top: 3px;
	position: absolute;
}

.filter-title {
	cursor: pointer;
	line-height: 22px;
	min-height: 22px;
	position: relative;
	padding-left: 3px;
}

.filter-selected-title {
	position: relative;
	background-color: #e9e5e5;
	height: 24px;
	line-height: 24px;
	padding-left: 5px;
	cursor: pointer;
	margin-bottom: 1px;
}

.filter-selected-title > .fa-edit {
	margin-left: 0 !important;
	position: absolute;
	right: 20px;
	top: 1px;
}

.filter-selected-title > .fa-times {
	margin-left: 0 !important;
	position: absolute;
	right: 45px;
	top: 0;
}

.filter-selected-title > .filter-btn {
	margin-left: 0 !important;
	position: absolute;
	right: 0px;
	top: 0;
}

button[disabled] * {
	cursor: not-allowed;
}

[role=filters-pane-header] {
	line-height: 30px;
	font-size: 18px;
}

[role=filters-pane-header] .fa:hover {
}

[role=filter-item-edit-body] {
	position: absolute;
	overflow: auto;
	top: 56px;
	bottom: 0;
	left: 0;
	right: 0px;
}

[role=filter-item-view-title], [role=filter-item-edit-title] {
	background-color: #e6e3e3;
	height: 26px;
	line-height: 26px;
	padding-left: 5px;
	position: relative;
	cursor: pointer;
}

[role=filter-item-view-title] > i.fa {
	margin: 0;
}

[role=filter-item-view-title] .toggle-btn {
	position: absolute;
	right: 4px;
	top: 2px;
	bottom: 2px;
	border: 1px solid #c3c0c0;
}

[role=filter-item-edit-title] button {
	width: 22px;
	height: 22px;
	margin-right: 0;
	margin-bottom: 2px;
	padding: 0;
	border: 1px solid #c3c0c0;
}

[role=filter-toolbar] .clear-btn, [role=filter-toolbar] .edit-btn {
	padding: 0 6px;
	height: 24px;
	line-height: 22px;
}

[role=filter-item-edit-title] > .fa-check-square-o {
	margin-left: 5px;
}

[role=filter-item-edit-title] > .fa.clear-btn {
	margin-left: 0;
}

[role=filter-item-edit-title] > [role=filter-edit-close] {
	position: absolute;
	right: 3px;
	top: 3px;
}

[role=filter-item-view-body] {
	padding-left: 5px;
}

[role=filter-item-view] {
	margin-top: 5px;
}

.column-cmd {
	width: 22px;
	height: 24px;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
}

button.icon.border, .column-cmd.border {
	border-color: #ccc;
}

button.icon, .column-cmd {
	border: 1px solid transparent;
	outline: none;
	box-shadow: none;
	background: transparent;
	padding: 0;
	margin: 0;
	top: initial;
	/*color: black;*/ /* nu pune !important*/
	font-size: inherit;
	text-align: center;
}

ax-dropdown-popup.btn-primary > button.icon:hover:not(.fa-spinner),
ax-dropdown-popup.btn-primary > button.icon:focus {
	border-color: transparent !important;
	background-color: initial;
	color: initial;
}

button.icon:hover:not(.fa-spinner),
ax-dropdown-popup.popup-opened > button.icon:not(.fa-spinner),
button.form-control:hover,
.dropdown-toggle.opened,
.dropdown-toggle:hover,
.column-cmd:hover,
ax-radio-option:hover,
ax-autocomplete > div > ax-dropdown-list.ax-autocomplete-dropdown > button:focus,
ax-autocomplete > div > ax-dropdown-popup.link-popup > button:focus,
ax-radio-option:focus,
ax-checkbox:hover {
	border: 1px solid #204d74;
	background-color: #286090 !important;
	color: white !important;
}

ax-autocomplete > div > ax-dropdown-list.ax-autocomplete-dropdown > button:focus {
	border: none !important;
}

button.icon[disabled] {
	color: gray !important;
}

[role=grid-cel] button.icon {
	height: 22px;
	line-height: 15px;
	width: 20px;
	margin-top: 0 !important;
	margin-right: 3px;
}

td button.icon:last-child {
	margin-right: 0;
}

.btn-set {
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	align-self: auto;
}

[role=grid-cell] > .btn-set {
	padding: 0 5px;
}

.btn-set > button {
	margin-right: 5px;
}

[role=column-view] > .btn-set {
	padding-top: 1px;
}

.btn-set > button:last-child {
	margin-right: 0;
}

.standard-theme [role=footerStatus] {
	height: 28px;
	line-height: 28px;
}

.standard-theme [role=table-header] table {
	max-width: 100%;
	/*border-right:1px solid #ddd;*/
}

[role=file-upload-progress] {
	display: inline-block;
	width: 100px;
	border: 1px solid #CCC;
	height: 22px;
}

[role=file-upload-progress] div {
	background: #e9e7e7;
	width: 0;
	height: 100%;
	line-height: 20px;
	position: absolute;
}

[role=file-upload-progress] span {
	font-size: smaller;
	width: 100px;
	line-height: 20px;
	z-index: 10;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
}

.text-overflow {
	display: none;
	cursor: pointer;
	height: 22px !important;
	width: 20px !important;
	margin-top: 0 !important;
	padding-top: 2px !important;
	font-size: inherit !important;
	position: absolute;
	right: -3px;
	top: 0;
	padding-left: 5px;
}

th button.form-control:not(.dropdown-toggle) {
	background-color: white;
	height: 28px !important;
}

.standard-theme td > div[uib-popover-popup] {
	position: absolute !important;
}

.column-sort {
	font-size: 12px;
	font-weight: lighter;
	width: 10px;
}

.column-menu {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -11px;
	z-index: 3;
}

th:hover > .column-menu {
	/*color: initial;*/
	visibility: visible;
	cursor: pointer;
}

.column-menu .fa-bars {
	width: 20px;
}

$scroobarWidth: 12px;

.mCSB_container_wrapper {
	position: absolute;
	height: auto;
	width: auto;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-right: 0px; /* set this to 0px */
	margin-bottom: 0px;

	.mCSB_container_wrapper > .mCSB_container {
		padding-right: 0px; /* set this to 0px */
		padding-bottom: 00px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

.mCSB_container_wrapper > .mCSB_container {
	padding-right: $scroobarWidth;
	padding-bottom: $scroobarWidth;
}

.mCSB_scrollTools, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonUp {
	width: $scroobarWidth;
}

.mCS-dark.mCSB_scrollTools .mCSB_buttonUp {
	background-position: -82px 2px;
}

.mCS-dark.mCSB_scrollTools .mCSB_buttonDown {
	background-position: -82px -20px;
}

[role=filtered-item], [role=filtered-item] > div {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	line-height: 22px;
}

[role=filtered-item] > i {
	line-height: 22px;
}

button.icon.settings-sort {
	padding: 0 4px;
}

ax-dropdown-popup[disabled] {
	cursor: not-allowed;
}

.app-header .fa:hover, .app-header .glyphicon:hover {
	color: black !important;
}

.app-header button:hover {
	border-color: transparent !important;
	background-color: initial !important;
}

ax-popup ax-table > ax-table-content > [role=toolbar] .fa-expand {
	margin-top: 4px;
	margin-right: 5px;
	width: 22px;
	height: 22px;
	padding: 3px;
}

th [filter-for][filter-type=number],
th [filter-for][filter-type=datetime],
th [filter-for][filter-type=date] {
	height: 24px;
	line-height: 24px;
}

[filter-for][filter-type=number] > ax-dropdown-popup:not(.form-control),
[filter-for][filter-type=datetime] > ax-dropdown-popup:not(.form-control),
[filter-for][filter-type=date] > ax-dropdown-popup:not(.form-control) {
	line-height: 21px;
	height: 22px;
}

th [filter-for][filter-type=number] > div,
th [filter-for][filter-type=datetime] > div,
th [filter-for][filter-type=date] > div {
	display: inline-flex !important;
	margin: 0 auto;
}

th [filter-for][filter-type=number] > div {
	width: auto !important;
}

th [filter-for][filter-type=number] > div.between > ax-text,
th [filter-for][filter-type=datetime] > div.between > ax-datetime,
th [filter-for][filter-type=date] > div.between > ax-datetime {
	width: 50%;
}

th [filter-for][filter-type=number] > div:not(.between) > ax-text,
th [filter-for][filter-type=datetime] > div:not(.between) > ax-datetime,
th [filter-for][filter-type=date] > div:not(.between) > ax-datetime {
	width: 100%;
}

th [filter-for][filter-type=number] > div:not(.between),
th [filter-for][filter-type=datetime] > div:not(.between),
th [filter-for][filter-type=date] > div:not(.between) {
	padding-right: 25px;
}

th > [filter-for][show-config=true] > ax-dropdown-popup[btn-class~=filter-config] {
	display: inline-flex;
}

th > [filter-for] > ax-dropdown-popup[btn-class~=filter-config] {
	display: none;
}

th > [filter-for][filter-type=date][show-config=true] > div.between > ax-datetime:last-child,
th > [filter-for][filter-type=datetime][show-config=true] > div.between > ax-datetime:last-child,
th > [filter-for][filter-type=number][show-config=true] > div.between > ax-text:last-child,
th > [filter-for][filter-type=string][show-config=true] > ax-text,
th > [filter-for][filter-type=text][show-config=true] > ax-text {
	margin-right: 26px;
}

th [filter-for][filter-type=number] > div > i,
th [filter-for][filter-type=datetime] > div > i,
th [filter-for][filter-type=date] > div > i {
	margin: 0 4px;
	line-height: inherit;
}

col.ng-hide {
	width: 0 !important;
}

.operator.between {
	position: relative;
	min-width: 33px;
	height: 22px;
	line-height: 22px;
}

.operator.between:before {
	content: "< x <";
}

.operator.between.equal:after {
	position: absolute;
	top: -2px;
	left: 2px;
	content: "_\00a0 \00a0 \00a0 \00a0 _";
}

.operator.bigger-than {
	position: relative;
	width: 20px;
	height: 22px;
	line-height: 22px;
}

.operator.bigger-than:before {
	content: "< x";
}

.operator.bigger-than.equal:after {
	position: absolute;
	top: -2px;
	left: 2px;
	content: "_";
}

.operator.less-than {
	position: relative;
	width: 20px;
	height: 22px;
	line-height: 22px;
}

.operator.less-than:before {
	content: "x <";
}

.operator.less-than.equal:after {
	position: absolute;
	top: -2px;
	left: 12px;
	content: "_";
}

.operator.exact {
	position: relative;
}

.operator.exact:before {
	content: "= x";
}

[hidden-column],
[role=table-header] [left-freezed-column],
thead th[colspan='0'],
thead td[colspan='0'],
[role=table-scroller] table:not(.header-clone) th[right-freezed-column]:not(.empty-column),
[role=table-right] [role=header] colgroup > col.empty-column,
[role=table-right] [role=body] colgroup > col.empty-column {
	display: none !important;
}

[role=table-scroller] td[left-freezed-column],
[role=table-scroller] th[left-freezed-column],
/* th din header right-freeze trebuie sa fie visibility: hidden, pt. sincronizarea inaltimilor cu celulele din table-right*/
[role=table-scroller] table.header-clone th[right-freezed-column]:not(.empty-column) {
	visibility: hidden !important;
}

[role=table-scroller] th[right-freezed-column]:not(.empty-column) {
	max-width: 0 !important;
	min-width: 0 !important;
	width: 0 !important;
}

[role=table-scroller] td[right-freezed-column]:not(.empty-column),
[role=table-scroller] td[right-freezed-column]:not(.empty-column) > *,
[role=table-scroller] col[right-freezed-column]:not(.empty-column) {
	/*width: 0 !important;*/
	display: none !important;
}



.standard {
	background-color: #f1f1f1;
}

.rotate90 {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}

.standard-theme tr[role=group-footer].collapsed > td > div {
	border-top-color: transparent;
}

.standard-theme tr[role=group-footer]:not(.collapsed) > td > div {
	border-top: 1px solid lightgray !important;
}

.standard-theme tr[role=group-footer]:not(.collapsed).no-header > td > div {
	border-bottom: 1px solid lightgray !important;
}

.standard-theme tr[role=group-footer] > td > div, .standard-theme tr[role=group-header] > td > div {
	height: 24px;
	line-height: 21px;
	box-sizing: border-box;
}

.standard-theme tr, .standard-theme tr > td {
	outline: none;
	position: relative;
}

.standard-theme tr[role=group-header] > td > div {
	border-top: 1px solid #d6d3d3;
}

.standard-theme tr[role=group-header] {
	background-color: #efeded;
}

.standard-theme tr[role=group-header].last-level:not(.collapsed) > td > div {
	border-bottom: 1px solid #d6d3d3;
}

.standard-theme tr[role=group-header] > td > div {
	height: 24px;
	line-height: 21px;
	padding-top: 0 !important;
}

.standard-theme tr[role=group-header] > td > div.collapsed {
	border-bottom-color: transparent;
}

tr[role=group-header] > td > div.collapsible {
	cursor: pointer;
}

.standard-theme tr[role=group-header]:hover > td > div, .standard-theme tr[role=group-header].hover > td > div {
	background-color: #c2baba;
}

.group-toggle-show, .group-filter {
	min-width: 20px !important;
	height: initial !important;
	line-height: 18px !important;
	text-align: center;
}

.standard-theme.tree-child-table [role=table-scroller] {
	overflow-x: hidden !important;
}

.standard-theme .tree-child-table {
	border: none;
}

.group-toggle-maximize {
	font-size: 12px;
	width: 22px;
	height: 26px;
	line-height: 26px;
	text-align: center;
}

i:focus {
	outline: none;
}

.fa.show-on-tr-hover:not(.opened) {
	color: transparent;
}

button.icon[disabled].fa.show-on-tr-hover {
	color: transparent !important;
}

.standard-theme tr.hasFocus > td > div > ax-dropdown-popup:not([disabled]) .fa-bars.show-on-tr-hover,
.standard-theme tr:hover > td > div > ax-dropdown-popup:not([disabled]) .fa-bars.show-on-tr-hover,
.standard-theme tr.hover > td > div > ax-dropdown-popup:not([disabled]) .fa-bars.show-on-tr-hover,
.standard-theme tr.hasFocus > td > div > button:not([disabled]) .show-on-tr-hover,
.standard-theme tr.hover > td > div > button:not([disabled]) .show-on-tr-hover,
.standard-theme tr:hover > td > div > button:not([disabled]) .show-on-tr-hover {
	color: black !important;
	border: none !important;
}

.standard-theme .auto-height > [role=table-scroller] {
	bottom: initial !important;
	overflow-y: auto !important;
}

.no-border > ax-list {
	border: none !important;
}

ax-table td, ax-table.no-border th, ax-table.no-border,
ax-list td, ax-list th {
	border: none !important;
}

[toolbar=right].fa-expand, [toolbar=right].fa-compress {
	padding: 7px;
	background: white;
	border: 1px solid #ccc;
	height: 30px;
	order: 10;
	vertical-align: middle;
}

ax-list [role=toolbar] [role=scroller-content] {
	padding-top: 2px !important;
	/*padding-left: 5px !important; afecteaza scroll content-ul*/
}

.standard-theme tr td[role=grid-cell] i.dropdown-clear {
	top: 0;
	right: 9px;
}

ax-dropdown-list .dropdown-clear {
	position: absolute;
	right: 12px;
	top: 4px;
	//z-index: 1;
}

ax-dropdown-list .dropdown-clear.fa-spinner {
	top: 3px;
	right: 16px;
}

ax-dropdown-list[readonly] .dropdown-clear {
	display: none;
}

ax-dropdown-list[readonly] button {
	cursor: default;
}

ax-dropdown-list[role=column-input] .dropdown-clear {
	top: 0;
}

tr.isNotVisible {
	/*border-top: 1px solid lightblue;*/
	visibility: hidden;
}

.toolbar-container button.dropdown-toggle > .glyphicon {
	top: 0px !important;
	position: relative !important;
}

.toolbar-container button.dropdown-toggle > .fa {
	top: -2px !important;
	position: relative !important;
}

.deleted-item {
	background-color: #f5f5f5;
	text-decoration: line-through;
	font-style: oblique;
}

.fa.fa-eraser, .btn.fa.fa-eraser:not(.form-control) {
	font-size: small;
}

.clear-btn i.fa-eraser:hover {
	background-color: initial !important;
}

.standard-theme .sortable-index {
	font-size: 80%;
	width: 5px;
	margin-top: -3px;
}


.header-calculation {
	font-weight: bold;
}

.group-header .group-label, .group-footer .group-label {
	margin-right: 5px;
	margin-top: 1px;
	margin-right: 3px;
}

.group-header .group-value, .group-footer .group-value {
	font-weight: bold;
	margin-top: 1px;
	margin-right: 3px;
}

.group-header .group-filter {
	line-height: 20px;
	margin-top: 1px;
	width: 20px;
}

.group-header .group-filter {
	display: none;
}

tr[role=group-header]:hover .group-filter {
	display: inline-block;
}

.group-header .group-records-count,
.group-footer .group-records-count {
	margin-left: 5px;
	margin-top: 1px;
}

.group-footer > td.group-column > div {
	padding-left: 4px;
}

.group-header .group-records-count:before,
.group-footer .group-records-count:before {
	content: "(";
}

.group-header .group-records-count:after,
.group-footer .group-records-count:after {
	content: ")";
}

td.group-footer > div {
	padding-top: 1px;
}

td.group-footer > div > div {
	display: inline-flex;
	vertical-align: top;
	white-space: nowrap;
}

td.group-footer > div > div > div.group-label {
	margin-right: 5px;
}

td.group-footer > div > div > div.group-value {
	font-weight: bold;
	margin-right: 5px;
}

.footer-calculation {
	font-weight: bold;
}

[type=number]:not([edit-type]) > span {
	text-align: right;
	padding-right: 5px;
}

td[edit-type=number] > div > span {
	padding-right: 14px;
}

.info-text {
	width: 100%;
	position: relative;
	padding: 10px;
	overflow: auto;
	margin-bottom: 10px;
	background-color: #ededed;
	border-radius: 7px;
}

.info-text > div {
	width: 100%;
	height: 100%;
}

.table-toggle-maximize.btn.btn-primary {
	width: 28px;
	height: 28px;
	padding-left: 6px;
}

ax-list .table-toggle-maximize.btn.btn-primary {
	width: 20px;
	height: 20px;
	padding: 1px;
	line-height: 18px;
}


.children-items ax-list.standard-theme tr[role=titles] > th {
	background-color: #ecebeb;
	height: 24px;
}

.children-items table.standard-theme td:not(.empty-column):not(.last-column) > div {
	border-right: 1px solid lightgray !important;
}

td.footer-calculation > div, td.header-calculation > div {
	display: inline-flex;
	vertical-align: top;
	width: 100%;
}

td.footer-calculation > div > .calculation-label,
td.header-calculation > div > .calculation-label {
	font-weight: normal;
	margin-left: 5px;
	margin-right: 5px;
}

.calculation-label:after {
	content: ":"
}

td.footer-calculation > div > .calculation-result,
td.header-calculation > div > .calculation-result {
	font-weight: bold;
	padding-right: 5px;
	width: 100%;
}

.calculation-separator {
	border-right: 1px solid lightgray;
}

.boolean-value {
	display: none;
}

.popover {
	max-width: initial;
}

.sum-simbol:after {
	content: "\2211";
	margin-right: 3px;
	font-size: 16px;
}

@keyframes scale-vertically-in {
	0% {
		-moz-transform: scaleY(0);
		-ms-transform: scaleY(0);
		-o-transform: scaleY(0);
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
	}

	100% {
		-moz-transform: scaleY(1);
		-ms-transform: scaleY(1);
		-o-transform: scaleY(1);
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}

@keyframes scale-vertically-out {
	0% {
		-moz-transform: scaleY(1);
		-ms-transform: scaleY(1);
		-o-transform: scaleY(1);
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}

	100% {
		-moz-transform: scaleY(0);
		-ms-transform: scaleY(0);
		-o-transform: scaleY(0);
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		display: none;
	}
}

@keyframes scale-horizontally-in {
	0% {
		-moz-transform: scaleX(0);
		-ms-transform: scaleX(0);
		-o-transform: scaleX(0);
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
	}

	100% {
		-moz-transform: scaleX(1);
		-ms-transform: scaleX(1);
		-webkit-transform: scaleY(1);
		transform: scaleX(1);
	}
}

@keyframes scale-horizontally-out {
	0% {
		-moz-transform: scaleX(1);
		-ms-transform: scaleX(1);
		-o-transform: scaleX(1);
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}

	100% {
		-moz-transform: scaleX(0);
		-ms-transform: scaleX(0);
		-o-transform: scaleX(0);
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		display: none;
	}
}

ax-table-master > ax-table-editor {
	background-color: white;
}

ax-table-master > ax-table-editor > .editor-content > ax-form {
	padding: 0 10px;
}

ax-table-master > ax-table-editor > .editor-content > ax-form > table[role=form-column] {
	width: 100%;
	table-layout: fixed;
}

ax-table-master > ax-table-editor > .editor-content > ax-form td[role=input] > ax-text {
	height: 24px;
}

ax-table-master > ax-table-editor > .editor-content > ax-form i.fa-question-circle {
	line-height: 22px;
	padding: 0 5px;
}

ax-table-master > ax-table-editor [role=toolbar] button.btn-edit-popup {
	padding-left: 0 !important;
}

ax-table-master > ax-table-editor [role=toolbar] [role=scroller-content],
ax-table-master > ax-table-editor [role=toolbar] [role=scroller-container] {
	padding-right: 0 !important
}

ax-table-master > ax-table-editor [role=toolbar] [role=scroller-content] {
	padding-left: 20px !important
}

ax-table-master > ax-table-editor [role=toolbar-right] {
	padding-left: 20px !important;
}

ax-table > ax-table-content > [role=toolbar-right],
ax-table > ax-table-content > [role=toolbar-left] {
	background-color: white;
}

.editor-content {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.editor-content [role=toolbar].editor-toolbar {
	border-top: 1px solid lightgray;
}

.editor-content [role=toolbar]:not([ax-scroller]).editor-toolbar {
	padding-left: 5px;
}

.editor-content [role=toolbar].editor-toolbar button,
.editor-content [role=toolbar].editor-toolbar span.btn {
	height: 24px;
	line-height: 22px;
	padding: 0;
}

.editor-content [role=toolbar].editor-toolbar button > .fa,
.editor-content [role=toolbar].editor-toolbar span.btn > .fa {
	line-height: 22px;
	margin: 0;
}

.editor-content [role=toolbar].editor-toolbar ax-i-spinner {
	height: 24px;
	width: 24px;
}

.editor-content [role=toolbar].editor-toolbar [role=paginator] > .fa {
	line-height: 33px;
	height: 33px;
	width: 16px;
	margin: 0;
}

.editor-content [role=toolbar].editor-toolbar [role=paginator] {
	float: right;
}

.editor-content .fa-exclamation {
	width: 20px;
}

ax-table-master > ax-table-editor table[role=form-column] td[role=input] div[role=column-input] > input,
ax-table-master > ax-table-editor table[role=form-column] td[role=input] div[type=text-with-zoom] > input,
ax-table-master > ax-table-editor table[role=form-column] td[role=input] div[type=custom] > [role=column-view] {
	padding: 2px 4px;
}


button[disabled] {
	pointer-events: auto;
}

ax-table-editor .editor-position {
	position: absolute;
	right: 40px;
	top: 0;
	height: 35px;
}

.printable {
	width: 100%;
	height: 100%;
	display: none !important;
	line-height: inherit;
}

.cke_top {
	max-height: initial !important;
}


.dropdown-toggle {
	background: none;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}