ax-tabs {
	display: block;
	position: relative;
	width: 100%;
}

.tabs-header > button.tab {
	/* border-top-left-radius: 7px;
        border-top-right-radius: 7px; */
	border-color: transparent !important;
	background-color: #cfd2d4;
	color: black;
	border-width: 1px !important;
	padding: 1px 12px;
}

	.tabs-header > button.tab:not(:last-child) {
		margin-right: 5px;
	}

.tabs-header button.tab[disabled] {
	color: gray;
	background-color: #90bad5;
}

.tab-view, ax-tab-view {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 0;
	background-color: white;
}

button.tab.active, button.tab.active:hover {
	background-color: #FFBB00;
	color: black;
	border-color: transparent !important;
	border-width: 1px !important;
}

	
.tabs-header > button.tab:focus {
	border-color: #0808b0 !important;
}

.tab-body {
	position: relative;
	width: 100%;
	height: 100%;
}

.tab-view:not(.active) {
	visibility: hidden;
}

	.tab-view:not(.active) [role=table-header] thead {
		visibility: hidden !important;
	}

	.tab-view:not(.active) [role=table-left] thead {
		visibility: hidden !important;
	}

	.tab-view:not(.active) [role=table-right] thead {
		visibility: hidden !important;
	}

.tab-view.active .standard-theme {
	color: black;
}

.tab-view > ax-table > [role=toolbar] {
	border-bottom: 1px solid white;
}