<div style="padding:10px;width:100%">
	<ax-list config="$parent.launcher.dataTable1"
					  datasource="$parent.launcher.countries"
					  edit-row="inline"
					  order-by="countryInvariant"
					  selectable-rows="single"
					  selectable-rows-model="$parent.launcher.currentCountry"
					  selectable-rows-model-type="object"
					  dont-close-popup="true"
					  item-id-field="id"
					  auto-focus="true"
					  no-header="false"
					  style="position:relative;width:100%;height:250px">
		<ax-toolbar ax-scroller="false">
			<label class="header-title">
				Countries
			</label>
			<button class="btn icon fa fa-plus"
					  ng-disabled="$ctrl.inlineEditing"
					  style="height:22px;line-height:20px;"
					  ng-click="$ctrl.create()"></button>
		</ax-toolbar>
		<ax-groups></ax-groups>
		<ax-column header="Country" bind-to="country" sortable="countryInvariant" width="100%" edit-type="text" show-header="false">
			<ax-column-filter filter-type="text"></ax-column-filter>
		</ax-column>
		<ax-column header="Actions" width="60px" view-type="crud-buttons" show-header="false">
		</ax-column>
	</ax-list>
	<div class="inline allWidth" style="line-height:24px">
		<label>Initial selection: </label> <div style="margin-left:5px;" ng-bind="launcher.initialCountry.country"></div>
	</div>
	<div class="inline allWidth" style="line-height:24px">
		<label>Current selection: </label> <div style="margin-left:5px;" ng-bind="launcher.currentCountry.country"></div>
	</div>
	<div class="inline allWidth">
		<button class="btn btn-primary" style="width:150px;margin-right:10px"
				  ng-disabled="launcher.readOnly || !launcher.currentCountry || launcher.currentCountry.country===launcher.initialCountry.country"
				  ng-click="launcher.confirm($event)">
			<i class="fa fa-check"></i>Confirm selection
		</button>
		<button class="btn btn-primary" style="width:80px" ng-click="launcher.close($event)"><i class="fa fa-ban"></i>Cancel</button>
	</div>
</div>